# Poly Studio P21: let the logged-in user open the vendor HID interface (lights, indicators, softphone logo).
# Install: sudo cp 70-poly-studio-p21.rules /etc/udev/rules.d/ && sudo udevadm control --reload && replug the P21
KERNEL=="hidraw*", ATTRS{idVendor}=="047f", ATTRS{idProduct}=="431a", MODE="0660", TAG+="uaccess"
